
.vs/Kohde.Assessment/v17/TestStore/0/008.testlog
.vs/Kohde.Assessment/v17/TestStore/0/testlog.manifest
Kohde.Assessment.UnitTest/bin/Debug/Kohde.Assessment.exe
Kohde.Assessment.UnitTest/bin/Debug/Kohde.Assessment.exe.config
Kohde.Assessment.UnitTest/bin/Debug/Kohde.Assessment.pdb
Kohde.Assessment.UnitTest/bin/Debug/Kohde.Assessment.UnitTest.dll
Kohde.Assessment.UnitTest/bin/Debug/Kohde.Assessment.UnitTest.pdb
Kohde.Assessment.UnitTest/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
Kohde.Assessment.UnitTest/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Kohde.Assessment.UnitTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Kohde.Assessment.UnitTest/obj/Debug/Kohde.Assessment.UnitTest.csproj.AssemblyReference.cache
Kohde.Assessment.UnitTest/obj/Debug/Kohde.Assessment.UnitTest.csproj.CopyComplete
Kohde.Assessment.UnitTest/obj/Debug/Kohde.Assessment.UnitTest.csproj.CoreCompileInputs.cache
Kohde.Assessment.UnitTest/obj/Debug/Kohde.Assessment.UnitTest.csproj.FileListAbsolute.txt
Kohde.Assessment.UnitTest/obj/Debug/Kohde.Assessment.UnitTest.dll
Kohde.Assessment.UnitTest/obj/Debug/Kohde.Assessment.UnitTest.pdb
Kohde.Assessment/bin/Debug/Kohde.Assessment.exe
Kohde.Assessment/bin/Debug/Kohde.Assessment.exe.config
Kohde.Assessment/bin/Debug/Kohde.Assessment.pdb
Kohde.Assessment/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Kohde.Assessment/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Kohde.Assessment/obj/Debug/Kohde.Assessment.csproj.AssemblyReference.cache
Kohde.Assessment/obj/Debug/Kohde.Assessment.csproj.CoreCompileInputs.cache
Kohde.Assessment/obj/Debug/Kohde.Assessment.csproj.FileListAbsolute.txt
Kohde.Assessment/obj/Debug/Kohde.Assessment.exe
Kohde.Assessment/obj/Debug/Kohde.Assessment.pdb
